bin/
obj/
packages/
Intermediate/
Debug/
Release/
.vs/
artifacts/
output/
AppPackages/
BundleArtifacts/
crunch.build/
xcuserdata/
secrets/

*.suo
*.user
*.nuget.targets
*.lock.json
*.VC.db
*.VC.opendb
*.nvuser
*.bak
*.nuget.props
*.payload.desc
*.xcuserstate
*.DS_Store
*.userprefs

generate.info
WaveContent.cs
UpgradeLog*.htm
contents.xcworkspacedata

